.admin-page.semester-manager {
	.toolbar {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 1rem;
	}

	.btn-primary {
		border-radius: 9999px;
		padding-inline: 1.5rem;
	}
}
.admin-page.semester-manager {
}
